numpy
pandas
matplotlib
langchain_experimental
langchain_core
beautifulsoup4
lxml
torch
transformers<5.0.0
accelerate
scikit-learn
scipy
sentencepiece
protobuf
sentence-transformers==3.1.1
openpyxl
markitdown[all]
llama-cpp-python[server]
tabulate
seaborn
xgboost
imbalanced-learn
tqdm
faiss-cpu
langchain
langchain-community
langchain-text-splitters
